<div id="<%= dom_id admin %>">
  <p>
    <strong>Name:</strong>
    <%= admin.name %>
  </p>

  <p>
    <strong>Cargo:</strong>
    <%= admin.cargo %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= admin.status %>
  </p>

</div>
