<div id="<%= dom_id respuesta_pqr %>">
  <p>
    <strong>Pqr:</strong>
    <%= respuesta_pqr.pqr_id %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= respuesta_pqr.admin_id %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= respuesta_pqr.descripcion %>
  </p>

</div>
