<h1>Editing respuesta pqr</h1>

<%= render "form", respuesta_pqr: @respuesta_pqr %>

<br>

<div>
  <%= link_to "Show this respuesta pqr", @respuesta_pqr %> |
  <%= link_to "Back to respuesta pqrs", respuesta_pqrs_path %>
</div>
