
<div id="<%= dom_id pqr %>">
  <p>
    <strong>User:</strong>
    <%= pqr.user.name %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= pqr.tipo %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= pqr.descripcion %>
  </p>

</div>
